annotated-types==0.5.0
cached-property==1.5.2
cycler==0.11.0
fonttools==4.38.0
h5py==3.6.0
importlib-metadata==6.7.0
kiwisolver==1.4.5
llvmlite==0.37.0
matplotlib==3.5.3
natsort==8.4.0
numba==0.54.1
numpy==1.20.3
packaging==24.0
pandas==1.3.5
pandas-anaphora==0.1b0
Pillow==9.5.0
psycopg2==2.9.9
pydantic==2.5.3
pydantic_core==2.14.6
pyparsing==3.1.4
python-dateutil==2.8.0
python-decouple==3.8
pytz==2019.2
scipy==1.7.3
seaborn==0.12.2
Shapely==1.8.5.post1
six==1.12.0
toolz==0.10.0
typing_extensions==4.7.1
utm==0.5.0
zipp==3.15.0

graphviz~=0.20.3